/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

:root {
    --bg-color: rgba(212, 210, 210, 0.938);
    --white-color: #fff;
    --orange-color: orange;
    --title-color: rgb(63, 58, 58);
    --black-color: black;
    --nav-color: #163269;
    --service-color: rgba(228, 227, 227, 0.962);
    --future-color: #d4e1fa;
    --future-bg-color: rgb(30, 40, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
}

/* Gallery-bg */
.Gallery-bg {
    background: url(Img/EVEREST-COLLEGE-STUDENT.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
    height: 50vh;
    display: flex;
    align-items: last baseline;
    position: relative;
    z-index: -1;
    padding-bottom: 5rem;
}

.Gallery-bg::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(47, 56, 108, 0.8);
    z-index: -5;

}

.Gallery-bg span {
    width: 80%;
    margin: 0 auto;
    color: var(--white-color);
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}

.instruction {
    width: 85%;
    margin: 0 auto;
    display: flex;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.instruction .paragraph {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0;
}

.instruction .paragraph span {
    font-size: 40px;
    font-weight: 700;
    color: var(--nav-color);
    text-transform: capitalize;
    padding-bottom: 2rem;
}

.instruction .paragraph span:hover {
    color: var(--orange-color);
}

.instruction .paragraph p {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: justify;
    padding: 1rem 0 0;
}

.instruction .paragraph p span{
    font-size: 18px;
}

.instruction .img-box{
    width: 95%;
    margin: 0 auto;
}

.instruction img {
    width: 600px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    padding: 1rem 0 0;
}

.instruction img:hover {
    transform: scale(0.9);
}

.room2{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: var(--service-color);
}

.room2 span{
    font-size: 40px;
    font-weight: 700;
    color: var(--nav-color);
    text-transform: capitalize;
}

.Admission{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: var(--service-color);
}

.Admission h2{
    width: 80%;
    color: var(--orange-color);
    margin: 0 auto;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 4rem 0 0;
}

.Admission .inst{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 5rem;
}

.Admission .inst h3{
    font-size: 35px;
    font-weight: 700;
    color: var(--nav-color);
    text-transform: capitalize;
}

.Admission .inst .graph{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0;
}

.Admission .inst .graph li{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #444;
    text-align: justify;
    list-style: disc;
    padding: 1rem 0 0;
}

.Admission .inst .graph li span{
    font-size: 18px;
    color: #335;
    font-family: "Roboto", 'poppins', sans-serif;
}

/* Basic Scholarship Schemes */
.Scholarship{
    background: var(--white-color);
    padding-top: 1rem;
}

.Scholarship .graph p{
    color: #444;
    font-size: 17px;
    font-weight: 700;
    padding-top: 1rem;
}

.Scholarship .graph li{
    color: #444;
    font-size: 17px;
    font-weight: 500;
}



.Scholarship .graph table tr th{
    background-color: rgb(56, 174, 86);
    color: var(--white-color);
    padding: 1rem 0;
    font-size: 16px;
    font-weight: 400;
}

.Scholarship .graph table #cell1{
    background: var(--service-color);
}

.Scholarship .graph table #cell2{
    background: rgba(246, 242, 241, 0.932);
}

.Scholarship .graph table tr td{
    color: #848484;
    padding: 1rem 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}



/* media Query */

@media (max-width: 1036px) {
    .instruction {
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .Scholarship .graph table{
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
    }
}

@media (max-width: 836px) {
    .instruction {
        width: 100%;
    }

}

@media (max-width: 648px) {
    .instruction img {
        width: 500px;
    }
}

@media (max-width: 496px) {
    .instruction img {
        width: 350px;
    }
}