/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

:root {
    --bg-color: rgba(212, 210, 210, 0.938);
    --white-color: #fff;
    --orange-color: orange;
    --title-color: rgb(63, 58, 58);
    --black-color: black;
    --nav-color: #163269;
    --service-color: rgba(228, 227, 227, 0.962);
    --future-color: #d4e1fa;
    --future-bg-color: rgb(30, 40, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
}


.Gallery-bg {
    background: url(Img/EVEREST-COLLEGE-STUDENT.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
    height: 50vh;
    display: flex;
    align-items: last baseline;
    position: relative;
    z-index: -1;
    padding-bottom: 5rem;
}

.Gallery-bg::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(47, 56, 108, 0.9);
    z-index: -5;

}

.Gallery-bg span {
    width: 80%;
    margin: 0 auto;
    color: var(--white-color);
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}


.all-img{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    overflow: hidden;
}

.all-img .all-box{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.all-img .all-box img{
    width: 400px;
}

